* {
  margin: 0;
  padding: 0;
  user-select: none;
}

body {
  height: 100vh;
  background-color: #121414;
  color: white;
}

.gameboard {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 456px;
  height: 456px;
  display: flex;
  flex-wrap: wrap;
}

.gameboard .cell {
  width: 152px;
  height: 152px;
  border: 3px solid rgb(70, 70, 70);
  box-sizing: border-box;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 7em;
  cursor: pointer;
}
.gameboard .cell:nth-child(1) {
  border-width: 0 3px 3px 0;
}
.gameboard .cell:nth-child(2) {
  border-width: 0 3px 3px 3px;
}

.gameboard .cell:nth-child(3) {
  border-width: 0 0 3px 3px;
}
.gameboard .cell:nth-child(4) {
  border-width: 3px 3px 3px 0;
}
.gameboard .cell:nth-child(6) {
  border-width: 3px 0 3px 3px;
}
.gameboard .cell:nth-child(7) {
  border-width: 3px 3px 0 0;
}
.gameboard .cell:nth-child(8) {
  border-width: 3px 3px 0 3px;
}
.gameboard .cell:nth-child(9) {
  border-width: 3px 0 0 3px;
}

.fade-in {
  animation: fade-in 0.15s ease;
}

@keyframes fade-in {
  from {
    font-size: 0.5em;
  }
}
